#links {
  display: none;
  margin-left: -1.5rem;
  text-align: right;
  margin-top: 1.4rem;
}

a {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(45, 92, 122);
  color: #f2f2f2;
  padding: 1vh 2vw;
  text-decoration: none;
  font-size: 3vw;
  display: block;
  padding-right: 2.5rem;
}

.menuIcon {
  background-color: transparent;
  border-radius: 0.4rem;
  padding: 0.6rem 1rem;
  position: absolute;
  right: 3rem;
  top: 4vh;
  transition: color 0.4s;
  transition: background-color 0.4s;
}

.menuIcon:hover {
  background-color: var(--background-color);
  color: var(--font-color);
}

#title {
  margin: 18vh 0vw 3vh 0vw;
  font-size: calc(3 * var(--font-base));
}