main {
  min-height: 80vh;
  background: var(--background-color);
  padding: 15vh 4vw 10vh 4vw;
  font-size: calc(1.1 * var(--font-base));
  color: var(--font-color);
}

.iconBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12vh;
}

.startIcon,
.learnIcon,
.ourIcon {
  border-radius: 50%;
  margin: 0 2vh;
  box-shadow: 1vh 1vh 2vh grey;
  transition: box-shadow 0.5s;
}

.startIcon:hover {
  box-shadow: 3vh 3vh 6vh grey;
}

.startIcon {
  height: 20vw;
  width: 20vw;
  border: 0.4rem solid var(--accent-color);
  background-color: olive;
}

.startIcon .text {
  font-size: calc(1.8 * var(--font-base));
}

.startIcon:hover,
.learnIcon:hover,
.ourIcon:hover {
  box-shadow: 2vh 2.5vh 3vh rgba(33, 33, 33, 0.4);
}

.text {
  height: 100%;
  width: 100%;
  font-size: calc(1.3 * var(--font-base));
}

.learnIcon,
.ourIcon {
  border: 0.5vh solid slategray;
  height: 13vw;
  width: 13vw;
  background-color: rgb(3, 79, 126);
}

a.fill-div {
  height: 100%;
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Do Hyeon", sans-serif;
  color: var(--background-color);
  font-size: 90%;
}

@media only screen and (max-width: 800px) {
  :root {
    --font-base: calc(1.5vw + 0.6rem);
  }
  html {
    background: var(--accent-color);
  }
  header {
    padding: 0;
    text-align: center;
    padding: 3vh 0;
    height: auto;
  }
  .iconBox {
    margin-top: 0;
    transform: translate(0%, 50%);
  }
  main {
    font-size: calc(1.3 * var(--font-base));
    padding-top: 12vh;
    padding-bottom: 0;
    min-height: 70vh;
    display: flex;
    flex-flow: wrap;
  }
  main * {
    width: 100%;
  }
  .learnIcon,
  .ourIcon {
    border: 1vh solid slategray;
    height: 20vw;
    width: 20vw;
    margin: auto;
    box-shadow: none;
  }

  .startIcon {
    height: 30vw;
    width: 30vw;
    border: 1vh solid var(--accent-color);
    margin: auto;
    box-shadow: none;
  }
}

@media only screen and (max-width: 360px) {
  :root {
    --font-base: calc(1vw + 0.6rem);
  }
}
