.desktop {
  display: none;
}

.mobile {
  display: block;
}

.menuIcon {
  font-size: calc(1.5 * var(--font-base));
}

/*rest of the page */
#title {
  font-size: 7vh;
}

.textBox {
  margin-top: 5vh;
  margin-bottom: 7vh;
}

.slide {
  width: 80vw;
  height: 110vh;
  margin: 0vh auto;
  position: inherit;
}

/*so only the first slide shows */
#hidden1,
#hidden2,
#hidden3 {
  display: none;
}
.pic {
  width: 80vw;
  height: 80vw;
  margin: 0 auto;
  background-size: cover;
  border-radius: 1rem;
}
.backButton {
  font-size: 5vw;
  float: left;
  padding: 40vw 4vw;
  background: transparent;
  border: 0;
}
.forwardButton {
  font-size: 5vw;
  float: right;
  padding: 40vw 4vw;
  background: transparent;
  border: 0;
}

button:focus {
  outline:none;
}

#giSlide {
  background-image: url("imgs/gi_pic.jpg");
}
#jerrySlide {
  background-image: url("imgs/jerry_pic.jpg");
}
#oscarSlide {
  background-image: url("imgs/oscar_pic.jpg");
}
#yaaSlide {
  background-image: url("imgs/yaa_pic.jpg");
}

#giBio,
#oscarBio,
#jerryBio,
#yaaBio {
  margin-top: 3vh;
  margin-bottom: 10vh;
  text-align: center;
  background-color: rgb(168, 78, 50);
  font-family: "Open Sans", sans-serif;
  font-size: 1.3em;
  padding: 1.4rem;
  height: 70vh;
  border-radius: 1rem;
  color: rgba(0, 0, 0, 0.7);
}
