@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poiret+One&display=swap');

:root {
  --background-color: rgb(229, 231, 225);
  --accent-color: rgba(45, 93, 122, 0.75);
  --font-color: rgb(37, 51, 51);
  --base: min(3.5vw, 1.7rem);
  --font-base: calc(1.2vw + 0.8rem);
}

html {
  background: var(--accent-color) !important;
}

html,
body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  text-align: center;
}

#logo {
  margin: auto auto;
  padding-top: calc(0.6 * var(--font-base));
  word-wrap: break-word;
  font-size: calc(2 * var(--font-base));
  color: #f2f2f2;
}

.banner {
  backdrop-filter: blur(0.6rem);
  background-color: var(--accent-color);
  font-family: 'Poiret One', cursive;
  text-align: initial;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 12vh;
  padding-top: 1rem;
  padding-left: 1rem;
}

.textBox {
  background: var(--background-color);
  padding: 15vh 4vw 10vh 4vw;
  font-size: min(1.8rem, calc(1.25 * var(--font-base)));
  font-family: 'Open Sans', sans-serif;
  color: var(--font-color);
}

.iconBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.startIcon, .learnIcon, .ourIcon {
  border-radius: 50%;
  margin: auto;
  box-shadow: 1vh 1vh 4vh grey;
  transition: box-shadow 0.5s;
}

.startIcon:hover {
  box-shadow: 2vh 2.5vh 3vh rgba(33, 33, 33, 0.4);
}

.startIcon {
  height: 30vw;
  width: 30vw;
  border: 0.4rem solid var(--accent-color);
  background-color: olive;
}

.startIcon .text {
  font-size: calc(1.5 * var(--font-base)) !important;
}

.startIcon:hover, .learnIcon:hover, .ourIcon:hover {
  box-shadow: 2vh 2.5vh 3vh rgba(33, 33, 33, 0.4);
}

.text {
  height: 100%;
  width: 100%;
  font-size: calc(1.1 * var(--font-base));
}

.learnIcon, .ourIcon {
  border: 0.5vh solid slategray;
  height: 20vw;
  width: 20vw;
  background-color: rgb(3, 79, 126);
}

/* so the entire circle will act as a link rather than just the words*/
a.fill-div {
  height: 100%;
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Do Hyeon', sans-serif;
  color: whitesmoke;
  font-size: 90%;
}

@media only screen and (max-width: 800px) {
  .banner {
    backdrop-filter: blur(0.8rem);
    height: 10vh;
  }
  body {
    margin-bottom: 12vh;
  }
  .iconBox {
    transform: translate(0%, 50%);
    margin-top: -7vh;
  }
  .textBox {
    padding-top: 12vh;
    padding-bottom: 0;
  }
  .learnIcon, .ourIcon {
    border: 1vh solid slategray;
  }
  
  .startIcon {
    border: 1vh solid var(--accent-color);
  }
}
