@import url("https://fonts.googleapis.com/css?family=Inter:300,400,700&display=swap");

:root {
  --background-color: rgb(245, 245, 245);
  --font-color: rgb(30, 30, 30);

  --green-color: rgba(63, 138, 63, 0.835);
  --red-color: rgba(196, 34, 34, 0.835);
  --blue-color: rgba(45, 63, 145, 0.835);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background: var(--background-color);
  color: var(--font-color);
  font-family: "Inter", sans-serif;
  font-size: min(3.5vw, 1.7rem);
}

.header {
  font-weight: 700;
  font-size: 2.5em;
  margin-bottom: 0;
}

.timer-contents {
  display: flex;
  flex-direction: column;
}

button {
  padding: 0.8rem 3rem;
  border-radius: 0.5rem;
  border: 0;

  color: white;
  font-weight: 600;
  font-size: min(5vw, 2.5rem);
}

.timer-buttons {
  display: grid;
  grid-gap: 3rem;
  grid-auto-flow: column;
}

#startStopButton {
  background-color: var(--green-color);
}

#clear {
  background-color: var(--blue-color);
}

.stop {
  background-color: var(--red-color) !important;
}

.stopped {
  font-weight: 400 !important;
}

#timer {
  font-size: 6em;
  font-weight: 300;
  margin: 1rem;
}

.dropdown-contents {
  width: 35vw; 
}

.dropdown-contents:hover {
    box-shadow: 1px 1px 11px grey;
}
