
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poiret+One&display=swap');
:root {
  --background-color: rgb(235, 222, 198);
  --font-color: rgb(30, 30, 30);

  --accent-color:rgba(45, 93, 122, 0.712);
  --base: min(3.5vw, 1.7rem);
}
body {margin:0;background: var(--background-color);}

.banner {
  overflow: hidden;
  /* 161, 111, 32, 0.712*/
  background-color: rgba(45, 93, 122, 0.712);
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poiret One', cursive;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 15vh;
}

#logo{
  float: left;
  font-size: 6.5vh;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
}

.main {
  height: 120vh; /* Used in this example to enable scrolling */
}
.textBox {
  border: .5vh solid rgba(161, 118, 80, 1);
  margin-top: 12vh;
  margin-left: 9vw;
  margin-right: 9vw;
  padding: 5vh 3vw 30vh 3vw;
  border-radius:15px 50px; 
  background-color: rgba( 161, 111, 32, 0.7);
  box-shadow: 10px 10px 5px grey;
  text-align: center; 
  font-size: 4vh;
  width: 90vw;
  height: 25vh; 
}
.nav{
  display: flex;
  overflow: scroll;
  width: 72vw;
  margin-top: 30vh;
  margin-left: 9vw;
  margin-right: 9vw;
}
.timerIcon {
  border-radius: 50%;
  margin: 5vh;
  height: 25vw;
  width: 25vw;
  background-color: cadetblue;
}
#text {
  margin: 12.5vw;
  margin-left: 5vw;
  margin-right: 5vw;
  font-size: 5vh;
}
.steveIcon {
  border-radius: 50%;
  margin: 5vh;
  height: 25vw;
  width: 25vw;
  background-color: cadetblue;

}
.ourIcon {
  border-radius: 50%;
  margin: 5vh;
  height: 25vw;
  width: 25vw;
  background-color: cadetblue;

}
