/* This is a css page for the index.html */

.container {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#timer {
  font-size: 8em;
}

.dropdown-contents {
  width: 350px; 
}
.dropdown-contents:hover {
    box-shadow: 1px 1px 11px grey;
} 